<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hi There James</title>
    <link rel="stylesheet" href="/css/main.css">
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="marquee">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="153.000000pt" height="218.000000pt" viewBox="0 0 153.000000 218.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,218.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path class="logo" d="M683 2169 c-39 -4 -76 -10 -82 -13 -20 -13 -11 -27 12 -21 12 3 5 -4
-16 -15 -22 -12 -41 -19 -44 -16 -3 3 5 9 17 14 16 6 19 11 11 16 -6 4 -39 -8
-74 -27 -34 -18 -82 -40 -107 -47 -56 -17 -88 -40 -157 -110 -74 -76 -142
-186 -154 -252 -11 -59 -29 -273 -24 -297 1 -9 6 -56 10 -106 4 -49 9 -103 11
-120 2 -16 -1 -32 -8 -36 -7 -5 -6 -14 6 -30 19 -28 21 -43 4 -33 -7 4 -10 4
-6 0 4 -5 1 -14 -5 -21 -9 -9 -18 -10 -34 -2 -13 6 -25 8 -27 6 -2 -2 0 -53 3
-114 6 -91 12 -121 36 -172 16 -34 35 -65 42 -68 8 -2 11 -1 8 4 -3 5 2 11 11
13 14 3 13 7 -6 31 -28 36 -23 40 23 20 38 -18 48 -33 22 -33 -8 0 -15 -3 -16
-7 0 -5 -2 -20 -4 -35 -2 -15 -1 -27 3 -27 21 3 33 -3 29 -13 -2 -7 5 -26 16
-42 14 -20 22 -48 23 -85 2 -44 13 -76 61 -170 69 -137 108 -184 218 -256 190
-125 336 -132 540 -26 97 50 245 193 245 236 0 17 7 40 15 52 27 39 64 173 71
257 3 44 8 84 11 89 2 4 1 12 -2 17 -8 14 -38 -17 -32 -33 2 -6 -2 -28 -9 -47
-11 -31 -13 -32 -13 -10 -1 20 -3 22 -11 10 -8 -12 -10 -10 -10 10 0 20 -2 22
-10 10 -5 -8 -10 -10 -10 -4 0 6 -7 11 -15 11 -8 0 -15 -4 -15 -8 0 -12 -57
-69 -69 -69 -7 0 -9 -10 -5 -27 l7 -28 -22 27 c-24 30 -28 83 -7 91 22 9 4 70
-35 121 -32 41 -96 85 -146 100 -41 13 -26 -20 41 -90 62 -64 75 -91 39 -77
-13 5 -15 2 -10 -19 6 -23 4 -25 -13 -21 -14 4 -20 0 -20 -11 0 -12 -10 -16
-40 -16 -22 0 -40 5 -40 10 0 6 -11 10 -24 10 -20 0 -35 15 -40 40 -1 3 -4 10
-8 16 -4 6 4 27 17 47 14 20 25 41 25 46 0 28 -88 -2 -110 -36 -11 -17 -11
-17 -6 0 3 10 0 19 -7 21 -94 25 -148 35 -161 30 -25 -10 -19 21 10 53 17 18
23 34 20 49 -4 13 -1 24 6 26 9 3 9 21 2 73 -6 39 -8 86 -3 105 4 19 9 58 13
85 5 48 4 51 -31 77 -20 15 -52 31 -72 34 -48 10 -206 -23 -251 -51 -36 -23
-83 -72 -93 -96 -4 -11 -6 -11 -6 2 -1 8 7 24 17 35 11 13 16 32 15 59 -2 22
-4 54 -5 70 -1 17 2 39 7 49 5 13 5 17 -2 13 -17 -10 -26 165 -11 199 17 40
66 91 100 105 15 6 28 15 28 19 0 11 91 30 144 30 23 0 66 7 96 16 60 18 140
25 140 12 0 -12 38 -10 63 4 12 6 33 12 47 13 14 1 59 6 102 10 42 4 85 4 95
0 10 -5 21 -9 25 -9 3 -1 10 -4 14 -8 4 -5 18 -8 31 -8 12 0 32 -9 43 -20 23
-23 60 -26 79 -7 11 10 14 10 18 0 3 -7 10 -13 17 -13 14 0 60 -49 53 -56 -2
-3 -21 5 -41 16 l-36 22 11 -31 c6 -17 8 -38 5 -46 -3 -10 1 -15 12 -15 13 0
14 -2 4 -9 -17 -10 -12 -29 15 -61 20 -21 21 -26 7 -30 -14 -5 -14 -7 0 -19
32 -27 73 -20 67 12 -1 5 3 5 9 2 6 -4 9 -13 6 -21 -3 -8 -1 -14 4 -14 5 0 7
-7 3 -16 -5 -14 -3 -15 16 -4 19 9 26 9 41 -5 18 -16 18 -16 13 4 -3 12 -15
24 -27 27 -13 3 -22 13 -22 24 0 10 4 16 9 13 5 -3 6 4 2 16 -4 12 -2 21 4 21
11 0 12 -4 15 -39 2 -31 16 -37 16 -7 0 30 -33 116 -60 156 -10 14 -21 36 -25
50 -23 75 -188 265 -282 326 -93 59 -134 77 -169 71 -19 -3 -37 -1 -40 5 -4 5
-20 7 -36 4 -16 -3 -41 0 -56 7 -19 9 -48 11 -99 6z m27 -19 c11 -7 7 -10 -18
-10 -20 0 -31 4 -27 10 8 13 26 13 45 0z m471 -178 l31 -47 -28 30 c-32 34
-62 81 -45 71 6 -4 25 -28 42 -54z m-144 -54 c-3 -7 -5 -2 -5 12 0 14 2 19 5
13 2 -7 2 -19 0 -25z m310 -210 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12
1 -19z m-873 -487 c4 -5 -17 -14 -44 -20 -63 -14 -70 -14 -70 -1 0 23 102 41
114 21z m-264 -97 c7 -40 31 -74 53 -74 10 0 25 -7 33 -15 22 -21 90 -19 170
7 38 12 79 20 92 19 13 -1 30 3 38 9 11 10 14 9 14 -4 0 -9 -4 -16 -9 -16 -5
0 -11 -9 -14 -21 -4 -13 -1 -19 6 -16 7 3 13 -6 14 -22 2 -43 -97 -151 -163
-176 -42 -16 -47 -16 -80 0 -19 9 -43 13 -54 10 -12 -4 -26 0 -35 9 -13 13
-13 15 3 19 10 3 7 5 -10 6 -34 1 -41 -10 -28 -44 7 -19 7 -24 -2 -19 -8 5 -9
0 -6 -14 4 -12 2 -20 -3 -16 -5 3 -9 16 -9 30 0 13 -4 24 -10 24 -5 0 -7 7 -4
15 4 8 2 15 -4 15 -17 0 -35 143 -26 217 4 37 8 74 7 81 -2 26 22 5 27 -24z
m305 6 c-3 -5 -1 -10 6 -10 7 0 10 -3 6 -6 -9 -9 -28 6 -22 17 4 5 8 9 11 9 3
0 2 -4 -1 -10z m-42 -27 c-7 -2 -19 -2 -25 0 -7 3 -2 5 12 5 14 0 19 -2 13 -5z
m-337 -75 c1 -21 -3 -35 -7 -32 -5 3 -9 14 -9 25 0 10 -7 19 -15 19 -9 0 -12
6 -8 15 11 31 38 12 39 -27z m-21 -87 c-3 -6 -13 -11 -21 -11 -8 0 -14 -10
-15 -22 0 -13 -2 -35 -3 -50 -1 -16 1 -28 5 -28 4 0 9 -7 13 -15 9 -24 -10
-17 -24 9 -19 36 -5 110 23 123 25 12 32 9 22 -6z m667 -293 c-17 -8 -26 -8
-34 0 -9 9 -4 12 23 11 32 0 33 -1 11 -11z m118 -69 c0 -21 15 -25 26 -7 4 7
3 8 -4 4 -7 -4 -12 -3 -12 3 0 16 17 22 23 8 3 -9 16 -12 35 -9 21 3 37 -2 50
-14 38 -37 45 -63 38 -142 -7 -70 -21 -102 -45 -102 -6 0 -13 -10 -16 -23 -9
-32 -57 -51 -113 -43 -26 3 -48 10 -50 16 -2 5 -10 6 -18 3 -8 -3 -14 0 -14 6
0 6 4 11 10 11 5 0 7 6 4 14 -3 8 7 26 23 40 18 17 23 26 13 26 -10 0 -8 6 8
18 21 16 22 20 8 31 -12 10 -13 17 -5 27 19 23 -1 34 -64 34 -82 -1 -95 1
-101 15 -2 7 22 16 70 25 41 7 74 17 74 21 0 5 -9 9 -19 9 -46 0 -31 38 17 44
18 2 36 6 39 9 10 11 23 -3 23 -24z m-143 -21 c-2 -7 -13 -12 -23 -10 -10 2
-24 4 -31 4 -23 2 -4 14 27 16 22 2 30 -1 27 -10z m-16 -305 c-8 -15 -10 -15
-11 -2 0 17 10 32 18 25 2 -3 -1 -13 -7 -23z"/>
<path d="M850 554 c0 -16 9 -18 28 -5 10 6 9 10 -7 14 -14 3 -21 0 -21 -9z"/>
<path d="M1410 1470 c0 -5 5 -10 10 -10 6 0 10 5 10 10 0 6 -4 10 -10 10 -5 0
-10 -4 -10 -10z"/>
<path d="M1451 1428 c0 -14 -7 -29 -13 -31 -10 -4 -10 -6 0 -6 16 -1 25 22 19
46 -3 12 -5 9 -6 -9z"/>
<path d="M824 1328 c-40 -13 -58 -48 -39 -75 8 -10 15 -25 15 -34 0 -16 52
-68 80 -81 12 -5 11 -7 -5 -7 -17 -1 -17 -3 -5 -15 28 -25 103 -48 137 -41 37
7 44 24 13 32 -11 3 -17 9 -14 14 3 5 -2 9 -10 9 -9 0 -16 4 -16 9 0 11 98 21
149 14 46 -6 52 4 19 33 -19 15 -20 16 -9 2 17 -22 11 -22 -34 -1 -20 10 -30
20 -24 23 6 4 -22 14 -63 22 l-73 15 40 8 c22 4 51 12 64 17 l24 9 -24 17
c-21 15 -52 22 -159 36 -19 3 -49 0 -66 -6z"/>
<path d="M1441 1268 c-1 -42 1 -46 19 -41 16 4 18 9 10 19 -6 7 -15 25 -20 41
-7 25 -8 23 -9 -19z"/>
<path d="M1492 1178 c-8 -8 -9 -15 -1 -25 16 -19 43 -17 35 3 -3 9 -6 20 -6
25 0 13 -14 11 -28 -3z"/>
<path d="M1385 1039 c-11 -17 4 -59 21 -59 8 0 12 -4 9 -10 -3 -5 -1 -10 4
-10 14 0 14 27 1 35 -5 3 -10 17 -10 31 0 25 -14 32 -25 13z"/>
</g>
</svg>
    </div>
    <div id="jhead">
      nothing brightens up a room like your absence
    </div>
  </body>
  <script src="/js/main.js" charset="utf-8"></script>

</html>
